{% extends 'Backend/index.html' %}
{% block title%}Home{%endblock%}
{% block page_title %}Home{% endblock %}
{% block main_content%}
{% load static %}
<div class="row">



    <div class="col-md-10">
         <h2><i class="fa fa-bars" aria-label="Toggle sidebar"></i>  Product Material Report</h2>
         <p>Ecommerce  Product Material  Add And Report</p>
        

          <div class="controls text-left">
          <div data-toggle="buttons-checkbox" class="btn-group">
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>

            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
             <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
           <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
          </div>
         </div>
         <br>

         <div class="controls text-right">
          <div data-toggle="buttons-checkbox" class="btn-group">
             <button  class="btn btn-default"  title='Export PDF' type="button">
                 <a target="_blank" href="">
                     <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default"  title='Export Excel' type="button">
                 <a  href="/daily_attendance_excle">
                     <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default" title='Preview' ttype="button">
                 <a target="_blank" href="/daily_attendance_pdf">
                     <i class="fa fa-file-image-o"></i>
                 </a>
             </button>
            <button class="btn btn-default" title='Print' type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
         </div>
         <br>
                
        
        <div class="tabs tabs-vertical tabs-left">
            <ul class="nav nav-tabs col-sm-3 col-xs-5">
                <li class="active">
                    <a href="#popular11" data-toggle="tab"><i class="fa fa-table"></i> Product Material Report</a>
                </li>
                <li>
                    <a href="#recent11" data-toggle="tab"><i class="fa fa-plus-square-o"></i>  Product Material Add</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="popular11" class="tab-pane active">
                 <section class="panel panel-primary">
                     <header class="panel-heading">
                       <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
    
            <h2 class="panel-title"> <i class="fa fa-table"></i> Product Material Report</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="../assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Metrial Name</th>
                        <th>Catagory Name</th>
                        <th>Subcatagory Name</th>
                        <th>Product Type Name</th>
                        <th class="hidden-phone">Status</th>
                        <th class="actions">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data_fetch in all_data %}
                <tr class="gradeX">
                        <td>{{forloop.counter}}</td>
                        <td>
                            {{data_fetch.metarial_name}}
                        </td>
                        <td>
                                {{data_fetch.category}}
                        </td>
                        <td> {{data_fetch.subcategory}}</td>
                        <td> {{data_fetch.product_type}}</td>
                        <td class="center hidden-phone">
                        {% if data_fetch.status == "Active"%}
                            <span style="color:rgb(72, 207, 112)">{{data_fetch.status}}</span>
                        {% else %}
                            <span style="color: indianred">{{data_fetch.status}}</span>
                        {% endif %}
                        </td>
                        <td class="center actions">
                            <a href="{% url 'product_metarial_delete' data_fetch.pk %}" class="on-default remove-row" onclick="return confirm('Are You Sure?')"><i class="fa fa-trash-o"></i></a>
                            <a href="{%url 'product_metarial_update'  data_fetch.pk %}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            {% if data_fetch.status == "Active" %}
                             <a href="" class="on-default edit-row"><span style="color:green"><i class="fa fa-check-circle"></i></span></a>
                            {% else %}
                             <a href="" class="on-default edit-row"><span style="color:red"><i class="fa fa-times-circle"></i></span></a>
                            {% endif %}  
                        </td>
                    </tr>
                    {% endfor %}
                    
            
                </tbody>
            </table>
        </div>
    </section>
    
                </div>
                <div id="recent11" class="tab-pane">
                    <form id="form" action=" " class="form-horizontal" method='POST'>
                        {% csrf_token %}
            <section class="panel panel-primary">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title"><i class="fa fa-plus-square-o"></i> Create Add Product Material</h2>
                    
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{form.metarial_name.lebel_for_id}}"> {{ form.metarial_name.label }} </label>
                        <div class="col-sm-9">
                                {{  form.metarial_name }}
                                <div class="text-danger">{{form.metarial_name.errors}}</div> 
                            <!-- <input type="text" name="category_name" class="form-control" placeholder="Category Name" required/> -->
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{form.category.label_for_id}} "> {{form.category.label}} </label>
                        <div class="col-sm-9">
                           {{form.category}}
                           <div class="text-danger">{{form.category.errors}}</div>
                            
                        </div>
                    </div>
                          <div class="form-group">
                        <label class="col-sm-3 control-label" for={{form.subcategory.label_for_id}}> {{form.subcategory.label}} </label>
                        <div class="col-sm-9">
                                {{form.subcategory}}
                                <div class="text-danger">{{form.subcategory.errors}}</div>
                            
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{form.product_type.label_for_id}}">{{form.product_type.label}} </label>
                        <div class="col-sm-9">
                          {{form.product_type}}
                          <div class="text-danger">{{form.product_type.errors}}</div>
                            
                        </div>
                    </div>
                
            
                     <div class="form-group">
                           <label class="col-sm-3 control-label" for="{{form.status.label_for_id}}">{{form.status.label}} </label>
                        <div class="col-sm-9">
                                {{form.status}}
                                <div class="text-danger">{{form.status.errors}}</div>
                            
                            
                          </div>
                      </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
                </div>
            </div>
        </div>
    </div>

    


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript'>
     $(document).ready(function(){
        $("#subcategory").html("<option>--Select Subcategory--</option>");
        // $('#product_type').html("<option value=''>--Select Product Type--</option>")
         $('#category').change(function(){
           var category=$(this).val();
           var csrf='{{ csrf_token }}'
             $.ajax({
               url:"{% url  'get_subcategory' %}",
               method:'POST',
               data:{'category':category,'csrfmiddlewaretoken':csrf},
               success:function(data){
             
                  if(data.length>0)
                  {
                    $('#subcategory').html("<option>--Select--</option>");
                    for(i=0;i<data.length;i++)
                    {        
                     $("#subcategory").append("<option value='"+data[i].pk+"'>"+data[i].fields.subcategory_name+"</option>");
                    }
                  }
                  else
                  {
                    $("#subcategory").html("<option>--No Data Found--</option>"); 
                  }
               
              }
   
             });

         });
        //  $('#subcategory').change(function(){
        //      var subcategory=$(this).val();
        //      var csrf='{{csrf_token}}';
        //      $.ajax({
        //          url:"{% url 'get_producttype'  %}",
        //          method:'POST',
        //          data:{'subcategory':subcategory,'csrfmiddlewaretoken':csrf},
        //          success:function(data)
        //          {
                    
        //              if(data.length>0)
        //              {
                         
        //                  $('#product_type').html("<option value=''>--Select--</option>");
        //                 for(i=0;i<data.length;i++)
        //                 {
        //                     console.log(data[i].fields)
        //                   $('#product_type').append("<option value='"+data[i].pk+"'>"+data[i].fields.product_type+"<option>");
        //                  }
        //              }
        //              else
        //              {
        //                  $('#product_type').html("<option value=''>--No Data Found--</option>");
        //              }
                   
                   
        //          }
        //      });
        //  });

     });
  
   
   
    
   
   </script>
   
   



{% endblock %}

