{% extends 'Backend/index.html' %}
{% block title%}Home{%endblock%}
{% block page_title %}Home{% endblock %}
{% block main_content%}
{% load static %}

<div class="row">



    <div class="col-md-10">
         <h2><i class="fa fa-bars" aria-label="Toggle sidebar"></i> Stock Report</h2>
         <p>Ecommerce Stock And Report</p>
        

          <div class="controls text-left">
          <div data-toggle="buttons-checkbox" class="btn-group">
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>

            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
             <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
           <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
          </div>
         </div>
         <br>

         <div class="controls text-right">
          <div data-toggle="buttons-checkbox" class="btn-group">
             <button  class="btn btn-default"  title='Export PDF' type="button">
                 <a target="_blank" href="">
                     <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default"  title='Export Excel' type="button">
                 <a  href="/daily_attendance_excle">
                     <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default" title='Preview' ttype="button">
                 <a target="_blank" href="/daily_attendance_pdf">
                     <i class="fa fa-file-image-o"></i>
                 </a>
             </button>
            <button class="btn btn-default" title='Print' type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
         </div>
         <br>
                
        
         <div class="tabs tabs-primary">
            
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#popular11" data-toggle="tab"><i class="fa fa-table"></i>Stock Report</a>
                </li>
                
            </ul>
            <div class="tab-content">
                <div id="popular11" class="tab-pane active">
                 <section class="panel panel-primary">
                     <header class="panel-heading portlet-handler">
                       <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
    
            <h2 class="panel-title"> <i class="fa fa-table"></i> Stock  Report</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="{% static 'Backend/assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf' %}">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Catagory Name</th>
                        <th>Sub Catagory</th>
                        <th>Brand Name</th>
                        <th>Product Type</th>
                        <th>Purchase Price</th>
                        <th>Sale Price</th>
                        <th>Off Price</th>
                        <th>Status</th>
                        <th class="actions">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            T-shirt
                        </td>
                        
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            T-shirt
                        </td>
                        
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        
                         <td>
                            T-shirt
                        </td>
                
                        
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    
            
                </tbody>
            </table>
        </div>
    </section>
    
                </div>
        
            </div>
        </div>
    </div>

    


</div>
{% endblock %}
