{% extends 'Backend/index.html' %}
{% block title%}Home{%endblock%}
{% block page_title %}Home{% endblock %}
{% block main_content%}
{% load static %}
<div class="row">



    <div class="col-md-10">
         <h2><i class="fa fa-bars" aria-label="Toggle sidebar"></i> Product Type Report</h2>
         <p>Ecommerce Product Type Add And Report</p>
        

          <div class="controls text-left">
          <div data-toggle="buttons-checkbox" class="btn-group">
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>

            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
             <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
           <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
          </div>
         </div>
         <br>

         <div class="controls text-right">
          <div data-toggle="buttons-checkbox" class="btn-group">
             <button  class="btn btn-default"  title='Export PDF' type="button">
                 <a target="_blank" href="">
                     <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default"  title='Export Excel' type="button">
                 <a  href="/daily_attendance_excle">
                     <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default" title='Preview' ttype="button">
                 <a target="_blank" href="/daily_attendance_pdf">
                     <i class="fa fa-file-image-o"></i>
                 </a>
             </button>
            <button class="btn btn-default" title='Print' type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
         </div>
         <br>
                
        
        <div class="tabs tabs-vertical tabs-left">
            <ul class="nav nav-tabs col-sm-3 col-xs-5">
                <li class="active">
                    <a href="#popular11" data-toggle="tab"><i class="fa fa-table"></i> Product Type Report</a>
                </li>
                <li>
                    <a href="#recent11" data-toggle="tab"><i class="fa fa-plus-square-o"></i>  Product Type Add</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="popular11" class="tab-pane active">
                 <section class="panel panel-primary">
                     <header class="panel-heading">
                       <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
    
            <h2 class="panel-title"> <i class="fa fa-table"></i> Product Type Report</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="../assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Product Type Name</th>
                        <th>Catagory Name</th>
                        <th>Subcatagory Name</th>
                        <th>Description</th>
                        <th class="hidden-phone">Status</th>
                        <th class="actions">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>Lilen</td>
                        <td>
                            Women
                        </td>
                        <td>this thi Women cloth category</td>
                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>Lilen</td>
                        <td>
                            Women
                        </td>
                        <td>this thi Women cloth category</td>
                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>Lilen</td>
                        <td>
                            Women
                        </td>
                        <td>this thi Women cloth category</td>
                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>Lilen</td>
                        <td>
                            Women
                        </td>
                        <td>this thi Women cloth category</td>
                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>Lilen</td>
                        <td>
                            Women
                        </td>
                        <td>this thi Women cloth category</td>
                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
            
                </tbody>
            </table>
        </div>
    </section>
    
                </div>
                <div id="recent11" class="tab-pane">
                    <form id="form" action="forms-validation.html" class="form-horizontal">
            <section class="panel panel-primary">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title"><i class="fa fa-plus-square-o"></i> Create Add Product Type</h2>
                    
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Product Type Name </label>
                        <div class="col-sm-9">
                            <input type="text" name="product_type_name" class="form-control" placeholder="Category Name" required/>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">Category Name </label>
                        <div class="col-sm-9">
                            <select id="company" class="form-control" name="category_name" required>
                                <option value="">Choose a Category</option>
                                <option value="apple">Apple</option>
                                <option value="google">Google</option>
                                <option value="microsoft">Microsoft</option>
                    
                            </select>
                            <label class="error" for="company"></label>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Subcategory Name </label>
                        <div class="col-sm-9">
                            <select id="company" class="form-control" name="subcategory_name" required>
                                <option value="">Choose a Subcategory</option>
                                <option value="apple">Apple</option>
                                <option value="google">Google</option>
                                <option value="microsoft">Microsoft</option>
                    
                            </select>
                            <label class="error" for="company"></label>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea name="description" rows="5" class="form-control" placeholder="Describe About Category" required></textarea>
                        </div>
                    </div>
            
                     <div class="form-group">
                           <label class="col-sm-3 control-label">Status </label>
                        <div class="col-sm-9">
                            <div class="radio-custom radio-primary">
                                <input id="awesome" name="status" type="radio" value="Active" required />
                                <label for="awesome">Active</label>
                            </div>
                            <div class="radio-custom radio-primary">
                                <input id="very-awesome" name="status" type="radio" value="Inactive" />
                                <label for="very-awesome">Inactive</label>
                            </div>
                            
                            
                          </div>
                      </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
                </div>
            </div>
        </div>
    </div>

    


</div>
{% endblock %}

