<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Grocery Shoppy an Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
{% include 'Fontent/layouts/css.html' %}
</head>

<body>
{% include 'Fontent/layouts/header.html' %}
	<!-- shop locator (popup) -->
	<!-- Button trigger modal(shop-locator) -->

	<!-- //Modal2 -->
	<!-- //signup Model -->
	<!-- //header-bot -->
	<!-- navigation -->
	{% include 'Fontent/layouts/navigation.html' %}
	<!-- //navigation -->
	<!-- banner -->
	{% include 'Fontent/layouts/banner.html' %}
	<!-- //banner -->

	<!-- top Products -->
	{% block main_content%}{%endblock%}
	<!-- //top products -->
	<!-- special offers -->
	{% include 'Fontent/layouts/special_offer.html'%}
	<!-- //special offers -->
	<!-- newsletter -->
	{% include 'Fontent/layouts/newsletter.html' %}
	<!-- //newsletter -->
	<!-- footer -->
	{% include 'Fontent/layouts/footer.html' %}
	<!-- //footer -->
	<!-- copyright -->
	{% include 'Fontent/layouts/copyright.html' %}
	<!-- //copyright -->

	<!-- js-files -->
	{% include 'Fontent/layouts/js.html' %}
	<!-- //js-files -->


</body>

</html>