<div class="col-sm-5 address-right">
    <div class="col-xs-6 footer-grids">
        <h3>Categories</h3>
        <ul>
            <li>
                <a href="product.html">Grocery</a>
            </li>
            <li>
                <a href="product.html">Fruits</a>
            </li>
            <li>
                <a href="product.html">Soft Drinks</a>
            </li>
            <li>
                <a href="product2.html">Dishwashers</a>
            </li>
            <li>
                <a href="product.html">Biscuits & Cookies</a>
            </li>
            <li>
                <a href="product2.html">Baby Diapers</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-6 footer-grids agile-secomk">
        <ul>
            <li>
                <a href="product.html">Snacks & Beverages</a>
            </li>
            <li>
                <a href="product.html">Bread & Bakery</a>
            </li>
            <li>
                <a href="product.html">Sweets</a>
            </li>
            <li>
                <a href="product.html">Chocolates & Biscuits</a>
            </li>
            <li>
                <a href="product2.html">Personal Care</a>
            </li>
            <li>
                <a href="product.html">Dried Fruits & Nuts</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>