{% load static %}
<div class="sub-some child-momu">
    <h5>Payment Method</h5>
    <ul>
        <li>
            <img src="{% static 'Fontent/images/pay2.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay5.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay1.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay4.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay6.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay3.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay7.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay8.png' %}" alt="">
        </li>
        <li>
            <img src="{% static 'Fontent/images/pay9.png' %}" alt="">
        </li>
    </ul>
</div>