<div class="col-sm-5 address-right">
    <div class="col-xs-6 footer-grids">
        <h3>Quick Links</h3>
        <ul>
            <li>
                <a href="about.html">About Us</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
            <li>
                <a href="help.html">Help</a>
            </li>
            <li>
                <a href="faqs.html">Faqs</a>
            </li>
            <li>
                <a href="terms.html">Terms of use</a>
            </li>
            <li>
                <a href="privacy.html">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-6 footer-grids">
        <h3>Get in Touch</h3>
        <ul>
            <li>
                <i class="fa fa-map-marker"></i> 123 Sebastian, USA.</li>
            <li>
                <i class="fa fa-mobile"></i> 333 222 3333 </li>
            <li>
                <i class="fa fa-phone"></i> +222 11 4444 </li>
            <li>
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:example@mail.com"> mail@example.com</a>
            </li>
        </ul>
    </div>
</div>