{% load static %}
<div class="col-sm-2 footer-grids  w3l-socialmk">
    <h3>Follow Us on</h3>
    <div class="social">
        <ul>
            <li>
                <a class="icon fb" href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a class="icon tw" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="icon gp" href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="agileits_app-devices">
        <h5>Download the App</h5>
        <a href="#">
            <img src="{% static 'Fontent/images/1.png' %}" alt="">
        </a>
        <a href="#">
            <img src="{% static 'Fontent/images/2.png' %}" alt="">
        </a>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //social icons -->
<div class="clearfix"></div>
</div>