{% load static %}
		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->

		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/jquery-datatables/media/css/jquery.dataTables.min.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/morris/morris.css' %}" />

		<!-- Theme CSS -->
	
		<!-- Skin CSS -->
		

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'Backend/assets/stylesheets/theme-custom.css' %}">
	
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/select2/select2.css' %}" />
		<link rel="stylesheet" href="{% static 'Backend/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />

	<!-- Theme CSS -->
	<!-- <script src="{% static 'Backend/assets/vendor/modernizr/modernizr.js' %}"></script> -->
	
		  <link rel="stylesheet" href="{% static 'Backend/assets/vendor/bootstrap/css/bootstrap.css' %}" />

    <link rel="stylesheet" href="{% static 'Backend/assets/stylesheets/theme.css' %}" />
	<link rel="stylesheet" href="{% static 'Backend/assets/stylesheets/skins/default.css' %}" />
    
	

			<!-- Vendor CSS -->
			<!-- <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/> -->
	<!-- <style type="text/css">
	.select2-choice{
		height: 33px !important;
	}
	</style> -->