{% load static %}

<script src="{% static 'Backend/assets/vendor/modernizr/modernizr.js' %}"></script>
<!-- Vendor -->
<script src="{% static 'Backend/assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>




<script src="{% static 'Backend/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'Backend/assets/javascripts/dashboard/examples.dashboard.js' %}"></script>

<script src="{% static 'Backend/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>



<!-- Specific Page Vendor -->
<!-- <script src="{% static 'Backend/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script> -->
<!-- <script src="{% static 'Backend/assets/vendor/jquery-easypiechart/jquery.easypiechart.js' %}"></script> -->

<script src="{% static 'Backend/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/snap-svg/snap.svg.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/liquid-meter/liquid.meter.js' %}"></script>








<script src="{% static 'Backend/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
<!-- Examples -->

<script src="{% static 'Backend/assets/vendor/jquery-datatables/media/js/jquery.dataTables.min.js' %}"></script>




<!-- Specific Page Vendor -->




///
<script src="{% static 'Backend/assets/vendor/select2/select2.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'Backend/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>


<!-- Theme Base, Components and Settings -->
<script src="{% static 'Backend/assets/javascripts/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'Backend/assets/javascripts/theme.custom.js' %}"></script> -->

<!-- Theme Initialization Files -->
<script src="{% static 'Backend/assets/javascripts/theme.init.js' %}"></script>
<!-- Examples -->
<script src="{% static 'Backend/assets/javascripts/tables/examples.datatables.default.js' %}"></script>
<script src="{% static 'Backend/assets/javascripts/tables/examples.datatables.row.with.details.js' %}"></script>
<script src="{% static 'Backend/assets/javascripts/tables/examples.datatables.tabletools.js' %}"></script>




