{% extends 'Backend/index.html' %}
{% block title%}Home{%endblock%}
{% block page_title %}Home{% endblock %}
{% block main_content%}
{% load static %}

<div class="row">

 


    <div class="col-md-10">
         <h2><i class="fa fa-bars" aria-label="Toggle sidebar"></i> Subcategory Report</h2>
         <p>Ecommerce Subcategory Add And Report</p>
        

          <div class="controls text-left">
          <div data-toggle="buttons-checkbox" class="btn-group">
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>

            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
             <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
           <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
          </div>
         </div>
         <br>

         <div class="controls text-right">
          <div data-toggle="buttons-checkbox" class="btn-group">
             <button  class="btn btn-default"  title='Export PDF' type="button">
                 <a target="_blank" href="">
                     <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default"  title='Export Excel' type="button">
                 <a  href="/daily_attendance_excle">
                     <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default" title='Preview' ttype="button">
                 <a target="_blank" href="/daily_attendance_pdf">
                     <i class="fa fa-file-image-o"></i>
                 </a>
             </button>
            <button class="btn btn-default" title='Print' type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
         </div>
         <br>
               <!-- {% if messages%} 
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{messages}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endif %} -->
        
         <div class="tabs tabs-primary">
            
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#popular11" data-toggle="tab"><i class="fa fa-star"></i> Subcategory  Update</a>
                </li>
               
            </ul>
            <div class="tab-content">
            
                <div id="popular11"  class="tab-pane active">
            <form method="POST" action="">
                {% csrf_token %}
                <section class="panel panel-primary">
                    <header class="panel-heading">
                      <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                      </div>

                    <h2 class="panel-title"><i class="fa fa-plus-square-o"></i> Subcategory Update Form</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for={{form.subcategory_name.label_for_id}}>{{form.subcategory_name.label}} </label>
                            <div class="col-sm-9">
                                {{form.subcategory_name}}
                                <div class="text-danger mt-3">{{form.subcategory_name.errors}}</div>
                            
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label" for={{form.category.label_for_id}}>{{form.category.label}} </label>
                            <div class="col-sm-9">
                                    {{form.category}}
                                    <div class="text-danger mt-3">{{form.category.errors}}</div>
                              
                                
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="{{form.subcategory_des.label_for_id}}">{{form.category_des.label}}</label>
                            <div class="col-sm-9">
                                {{form.subcategory_des}}
                                <div class="text-danger mt-3">{{form.subcategory_des.errors}}</div>
                                <!-- <textarea name="category_des" rows="5" class="form-control" placeholder="Describe About Category" required></textarea> -->
                            </div>
                        </div>
                
                         <div class="form-group">
                               <label class="col-sm-3 control-label" for=" {{form.subcategory_status.label_for_id}}"> {{form.subcategory_status.label}} </label>
                            <div class="col-sm-9">
                                {{form.subcategory_status}}
                                <div class="text-danger mt-3"> {{form.subcategory_status.errors}}</div>
                                
                              </div>
                          </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </div>
                        </div>
                </footer>
              </section>
                </form>
                </div>
            </div>
        </div>
    </div>

    


</div>


{% endblock %}