{% extends 'Backend/index.html' %}
{% block title%}Home{%endblock%}
{% block page_title %}Home{% endblock %}
{% block main_content%}
{% load static %}


<div class="row">



    <div class="col-md-10">
         <h2><i class="fa fa-bars" aria-label="Toggle sidebar"></i> Product Template Report</h2>
         <p>Ecommerce Product Template Add And Report</p>
        

          <div class="controls text-left">
          <div data-toggle="buttons-checkbox" class="btn-group">
            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>

            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
             <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
           <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">
                <a target="_blank" href="/daily_attendance_pdf">
                    <span style="color:white"><i class="fa  fa-send" aria-hidden="true"></i> Add</span>
                </a>
            </button>
          </div>
         </div>
         <br>

         <div class="controls text-right">
          <div data-toggle="buttons-checkbox" class="btn-group">
             <button  class="btn btn-default"  title='Export PDF' type="button">
                 <a target="_blank" href="">
                     <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default"  title='Export Excel' type="button">
                 <a  href="/daily_attendance_excle">
                     <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 </a>
             </button>
             <button class="btn btn-default" title='Preview' ttype="button">
                 <a target="_blank" href="/daily_attendance_pdf">
                     <i class="fa fa-file-image-o"></i>
                 </a>
             </button>
            <button class="btn btn-default" title='Print' type="button">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
         </div>
         <br>
                
        
         <div class="tabs tabs-primary">
            
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#popular11" data-toggle="tab"><i class="fa fa-table"></i> Product Template Report</a>
                </li>
                <li>
                    <a href="#recent11" data-toggle="tab"><i class="fa fa-plus-square-o"></i>  Product Template Add</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="popular11" class="tab-pane active">
                 <section class="panel panel-primary">
                     <header class="panel-heading portlet-handler">
                       <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
    
            <h2 class="panel-title"> <i class="fa fa-table"></i> Product Template Report</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="../assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Catagory Name</th>
                        <th>Sub Catagory</th>
                        <th>Product Type</th>
                        <th>Brand</th>
                        <th>Purchase Price</th>
                        <th>Sale Price</th>
                        <th>Off Price</th>
                        <th class="hidden-phone">Status</th>
                        <th class="actions">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                        <td>1</td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        <td>
                            Women
                        </td>
                        <td>
                            T-shirt
                        </td>
                        
                        <td>this thi Women cloth category</td>
                
                        <td class="center hidden-phone">Active</td>
                        <td class="center actions">
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    
            
                </tbody>
            </table>
        </div>
    </section>
    
                </div>
                <div id="recent11" class="tab-pane">
                    <form id="form" action="forms-validation.html" class="form-horizontal">
            <section class="panel panel-primary">
                <header class="panel-heading portlet-handler">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title"><i class="fa fa-plus-square-o"></i> Product Template Size</h2>
                    
                </header>
                <div class="panel-body">
                      <!-- <hr>
                    <h4 style="margin-left: 405px;color: #48859c;"> Product Info</h4>
                    <hr> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.product_name.label_for_id}}"> {{template.product_name.label}}</label>
                        <div class="col-sm-9">
                         {{template.product_name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.product_code.label_for_id}}">{{template.product_code.label}} </label>
                        <div class="col-sm-9">
                            {{template.product_code}}
                        </div>
                    </div>
                    
                         <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.category.label_for_id}}">{{template.category.label}} </label>
                        <div class="col-sm-9">
                            {{template.category}}
                            
                        </div>
                    </div>
                        

                         <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.subcategory.label_for_id}}">{{template.subcategory.label}} </label>
                        <div class="col-sm-9">
                            {{template.subcategory}}
                        
                        </div>
                    </div>
                        
                         <div class="form-group">
                        <label class="col-sm-3 control-label" for=" {{template.product_type.label_for_id}}"> {{template.product_type.label}} </label>
                        <div class="col-sm-9">
                            {{template.product_type}}
                            
                        </div>
                    </div>
                        <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.brand.label_for_id}}">{{template.brand.label}}</label>
                        <div class="col-sm-9">
                            {{template.brand}}
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.purchase_price.label_for_id}}">{{template.purchase_price.label}}</label>
                        <div class="col-sm-9">
                            {{template.purchase_price}}
                            
                        </div>
                    </div>
                          <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.sale_price.label_for_id}}">{{template.sale_price.label}} </label>
                        <div class="col-sm-9">
                            {{template.sale_price}}
                            
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{template.off_price.label_for_id}}"> {{template.off_price.label}} </label>
                        <div class="col-sm-9">
                            {{template.off_price}}
                            
                        </div>
                    </div>
                
                     <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{metarial_form.metarial.label_for_id}}">{{metarial_form.metarial.label}}</label>
                        <div class="col-sm-9">
                            {{metarial_form.metarial}}
                        </div>
                    </div>
                
                      <div class="form-group">
                            <label class="col-md-3 control-label" for="{{metarial.size.label_for_id}}"> {{size.size.label}}</label>
                            <div class="col-sm-9">
                                
                                    {{size.size}}
                                </div>
                        </div>

                  <div class="form-group">
                        <label class="col-sm-3 control-label" for="{{specification.specification.label_for_id}}">{{specification.specification.label}}</label>
                        <div class="col-sm-9">
                            {{specification.specification}}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
                </div>
            </div>
        </div>
    </div>

    


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript'>
     $(document).ready(function(){
        $("#subcategory").html("<option>--Select Subcategory--</option>");
       
         $('#category').change(function(){
           var category=$(this).val();
           var csrf='{{ csrf_token }}'
             $.ajax({
               url:"{% url  'get_subcategory' %}",
               method:'POST',
               data:{'category':category,'csrfmiddlewaretoken':csrf},
               success:function(data){
             
                  if(data.length>0)
                  {
                    $('#subcategory').html("<option>--Select--</option>");
                    for(i=0;i<data.length;i++)
                    {        
                     $("#subcategory").append("<option value='"+data[i].pk+"'>"+data[i].fields.subcategory_name+"</option>");
                    }
                  }
                  else
                  {
                    $("#subcategory").html("<option>--No Data Found--</option>"); 
                  }
               
              }
   
             });

         });
          $('#product_type').html("<option value=''>--Select Product Type--</option>")
         $('#subcategory').change(function(){
             var subcategory=$(this).val();
             var csrf='{{csrf_token}}';
             $.ajax({
                 url:"{% url 'get_producttype'  %}",
                 method:'POST',
                 data:{'subcategory':subcategory,'csrfmiddlewaretoken':csrf},
                 success:function(data)
                 {
                    
                     if(data.length>0)
                     {
                         
                         $('#product_type').html("<option value=''>--Select--</option>");
                        for(i=0;i<data.length;i++)
                        {
                            
                          $('#product_type').append("<option value='"+data[i].pk+"'>"+data[i].fields.product_type+"<option>");
                         }
                     }
                     else
                     {
                         $('#product_type').html("<option value=''>--No Data Found--</option>");
                     }
                   
                   
                 }
             });
         });

     });
  
   
   
    
   
   </script>
   


{% endblock %}